@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
html,body{
    height: 100%;
    width: 100%;
}
/* Tailwind v4 scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}

::-webkit-scrollbar-thumb {
  background-color: black; /* indigo-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* indigo-600 */
}
